body {
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
  font-size: 1.2vw;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
:root {
  --textgrey: #818b9e;
  --white: #ffffff;
  --black: #000000;
  --linegrey: #e1e5ee;
  --buttonblue: #8a2be2;
}

div {
  display: block;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
ul {
  justify-content: right;
  font-size: 0.7rem;
}
li {
  padding: 0.5rem;
  list-style-type: none;
}
hr {
  border: 1px solid var(--linegrey);
}

