.logo-img {
  width: 1.5em;
}
#image-1 {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.works-imgs {
  display: flex;
  padding: 3vw;
}

.reviewer-img {
  width: 5rem;
  margin-right: 1rem;
}
.star-img {
  width: 1rem;
}
