.light-text {
  color: var(--textgrey);
}
#dummy-text {
  margin-right: 20rem;
}
#statistics {
  margin-right: 10rem;
}

.flex-container {
  display: flex;
}
.flex-child:first-child {
  flex: 2;
  width: 50%;
}
.flex-child:second-child {
  flex: 1;
}
.reviews {
  padding: 8rem;
}
#faqs {
  margin-top: 70rem;
}
.reviewer-creds {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: left;
}
.review-text {
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: center;
}
.faq-qn {
  margin-right: 20rem;
}

.bottom-line-1 {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.bullet-img {
  width: 0.7rem;
}

.bottom-line-2 {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  font-size: 0.6rem;
}
